[KGameTheme]
Name=Default
Name[cs]=Výchozí
Name[de]=Standard
Name[es]=Predeterminado
Name[et]=Vaikimisi
Name[fr]=Par défaut
Name[gl]=Por omisión
Name[it]=Predefinito
Name[km]=លំនាំដើម
Name[mai]=मूलभूत
Name[nds]=Standard
Name[nl]=Standaard
Name[pt]=Predefinição
Name[pt_BR]=Padrão
Name[sv]=Standard
Name[ug]=كۆڭۈلدىكى
Name[uk]=Типова
Name[x-test]=xxDefaultxx
Name[zh_CN]=默认

Description=Default theme.
Description[cs]=Výchozí motiv.
Description[de]=Standard-Design.
Description[es]=Tema predeterminado.
Description[et]=Vaiketeema.
Description[fr]=Thème par défaut.
Description[gl]=Tema por omisión.
Description[it]=Tema predefinito.
Description[km]=ស្បែក​លំនាំដើម ។
Description[nds]=Standardmuster
Description[nl]=Standaardthema.
Description[pt]=O tema predefinido.
Description[pt_BR]=Tema padrão.
Description[sv]=Standardtema.
Description[ug]=كۆڭۈلدىكى ئۆرنەك.
Description[uk]=Типова тема.
Description[x-test]=xxDefault theme.xx
Description[zh_CN]=默认主题.

Author=Ian Wadham, Eugene Trounev
FileName=default.svg
Type=SVG
Preview=default.png
