[KGameTheme]
Name=Default
Name[es]=Predeterminado
Name[et]=Vaikimisi
Name[fr]=Par défaut
Name[it]=Predefinito
Name[mai]=मूलभूत
Name[nds]=Standard
Name[pt]=Predefinição
Name[pt_BR]=Padrão
Name[sv]=Standard
Name[uk]=Типова
Name[x-test]=xxDefaultxx

Description=Default theme.
Description[es]=Tema predeterminado.
Description[et]=Vaiketeema.
Description[fr]=Thème par défaut.
Description[it]=Tema predefinito.
Description[nds]=Standardmuster.
Description[pt]=O tema predefinido.
Description[pt_BR]=Tema padrão.
Description[sv]=Standardtema.
Description[uk]=Типова тема.
Description[x-test]=xxDefault theme.xx

Author=Ian Wadham, Eugene Trounev
FileName=default.svg
Type=SVG
Preview=default.png
