[Desktop Entry]
Encoding=UTF-8
Name=Kard
Name[xx]=xxKardxx
Exec=kard %i %m -caption "%c"
Icon=kard
Type=Application
DocPath=kard/kard.html
Comment=Memory-like game
Comment[bg]=Игра за упражнение на паметта
Comment[br]=C'hoari doare memor
Comment[cs]=Pexeso
Comment[da]=Memory-lignende spil
Comment[de]=Memory-ähnliches Spiel
Comment[el]=Παιχνίδι μνήμης
Comment[es]=Un juego para mejorar la memoria
Comment[et]=Meelespidamise mäng
Comment[fr]=Un jeu du type Memory
Comment[gl]=Un xogo para exercitar a memória
Comment[it]=Un gioco di memoria
Comment[ka]=მეხსიერების მაგვარი თამაში
Comment[nl]=Een geheugenspel dat lijkt op Memory
Comment[pt]=Um jogo de exercício de memória
Comment[pt_BR]=Um jogo como o de memória
Comment[sk]=Hra typu pamäť
Comment[sr]=Игра меморије
Comment[sr@Latn]=Igra memorije
Comment[sv]=Ett spel som liknar Memory
Comment[tr]=Bellek-tarzı bir oyun
Comment[xx]=xxMemory-like gamexx
Terminal=false
