[Desktop Entry]
Name=Kard
Name[nn]=Kort
Name[pa]=ਕੇਰਡ
Name[x-test]=xxKardxx
Exec=kard %i -caption "%c"
Icon=kard
Type=Application
X-DocPath=kard/kard.html
GenericName=Memory-like game
GenericName[bg]=Игра за упражнение на паметта
GenericName[cs]=Hra podobná pexesu
GenericName[de]=Memory-ähnliches Spiel
GenericName[el]=Παιχνίδι μνήμης
GenericName[es]=Juego de memoria
GenericName[et]=Meelespidamise mäng
GenericName[fr]=Un jeu memory-like
GenericName[ga]=Cluiche cuimhne
GenericName[gl]=Xogo de memoria
GenericName[km]=ល្បែង​ដូច​ជា​សតិ
GenericName[nds]=En "Memory"-liek Speel
GenericName[nn]=Eit Memory-liknande spel
GenericName[pa]=ਮੈਮੋਰੀ-ਵਰਗੀ ਖੇਡ
GenericName[pt]=Jogo de memória
GenericName[pt_BR]=Jogo de memória
GenericName[sv]=Ett spel som liknar Memory
GenericName[th]=เกมเกี่ยวกับความจำ
GenericName[tr]=Hafıza benzeri oyun
GenericName[uk]=Гра з розвитку пам’яті
GenericName[x-test]=xxMemory-like gamexx
Comment=Memory-like game for KDE
Comment[bg]=Игра за упражнение на паметта (KDE)
Comment[cs]=Hra podobná pexesu pro KDE
Comment[de]=Memory-ähnliches Spiel für KDE
Comment[el]=Παιχνίδι μνήμης για το KDE
Comment[es]=Juego de memoria de KDE
Comment[et]=KDE meelespidamise mäng
Comment[fr]=Un jeu memory-like pour KDE
Comment[ga]=Cluiche cuimhne le haghaidh KDE
Comment[gl]=Un xogo de memoria para KDE
Comment[km]=ល្បែង​ដូច​ជា​សតិ​សម្រាប់ KDE
Comment[nds]=En "Memory"-liek Speel för KDE
Comment[nn]=Eit Memory-liknande spel til KDE
Comment[pt]=Um jogo de memória para o KDE
Comment[pt_BR]=Um jogo de memória para o KDE
Comment[sv]=Ett spel som liknar Memory för KDE
Comment[th]=เกมเกี่ยวกับความจำของ KDE
Comment[tr]=KDE için hafıza benzeri oyun
Comment[uk]=Гра з розвитку пам’яті для KDE
Comment[x-test]=xxMemory-like game for KDExx
Terminal=false
Categories=Qt;KDE;Education;X-KDE-Edu-Miscellaneous;
