[Desktop Entry]
Name=Kard
Name[bg]=Kard
Name[cs]=Kard
Name[de]=Kard
Name[el]=Kard
Name[en_GB]=Kard
Name[eo]=Kard
Name[es]=Kard
Name[et]=Kard
Name[fi]=Kard
Name[fr]=Kard
Name[ga]=Kard
Name[gl]=Kard
Name[hne]=कार्ड
Name[hu]=Kard
Name[it]=Kard
Name[km]=Kard
Name[mr]=कार्ड
Name[nds]=Kard
Name[nl]=Kard
Name[nn]=Kort
Name[pa]=ਕੇਰਡ
Name[pl]=Kard
Name[pt]=Kard
Name[pt_BR]=Kard
Name[ro]=Kard
Name[sk]=Kard
Name[sv]=Kard
Name[th]=Kard
Name[tr]=Kard
Name[ug]=Kard
Name[uk]=Kard
Name[x-test]=xxKardxx
Name[zh_CN]=Kard
Name[zh_TW]=Kard
Exec=kard %i -caption "%c"
Icon=kard
Type=Application
X-DocPath=kard/index.html
GenericName=Memory-like game
GenericName[bg]=Игра за упражнение на паметта
GenericName[cs]=Hra podobná pexesu
GenericName[de]=Memory-ähnliches Spiel
GenericName[el]=Παιχνίδι μνήμης
GenericName[en_GB]=Memory-like game
GenericName[es]=Juego de memoria
GenericName[et]=Meelespidamise mäng
GenericName[fi]=Muistipeli
GenericName[fr]=Un jeu de mémoire
GenericName[ga]=Cluiche cuimhne
GenericName[gl]=Xogo de memoria
GenericName[hne]=याददास्त-जइसन खेल
GenericName[hu]=Memóriaszerű játék
GenericName[it]=Gioco di memoria
GenericName[km]=ល្បែង​ដូច​ជា​សតិ
GenericName[mr]=मेमरी सारखा खेळ
GenericName[nds]=En "Memory"-liek Speel
GenericName[nl]=Memory-achtig spel
GenericName[nn]=Eit Memory-liknande spel
GenericName[pa]=ਮੈਮੋਰੀ-ਵਰਗੀ ਖੇਡ
GenericName[pl]=Gra w typie memory
GenericName[pt]=Jogo de memória
GenericName[pt_BR]=Jogo de memória
GenericName[sk]=Pamäťová hra
GenericName[sv]=Ett spel som liknar Memory
GenericName[th]=เกมเกี่ยวกับความจำ
GenericName[tr]=Hafıza benzeri oyun
GenericName[ug]=ئەستە تۇتۇش ئويۇنى
GenericName[uk]=Гра з розвитку пам’яті
GenericName[x-test]=xxMemory-like gamexx
GenericName[zh_CN]=记忆游戏
GenericName[zh_TW]=記憶遊戲
Comment=Memory-like game for KDE
Comment[bg]=Игра за упражнение на паметта (KDE)
Comment[cs]=Hra podobná pexesu pro KDE
Comment[de]=Memory-ähnliches Spiel für KDE
Comment[el]=Παιχνίδι μνήμης για το KDE
Comment[en_GB]=Memory-like game for KDE
Comment[es]=Juego de memoria de KDE
Comment[et]=KDE meelespidamise mäng
Comment[fi]=Muistipeli KDE:lle
Comment[fr]=Un jeu de mémoire pour KDE
Comment[ga]=Cluiche cuimhne le haghaidh KDE
Comment[gl]=Un xogo de memoria para o KDE
Comment[hne]=केडीई बर याददास्त जइसन खेल
Comment[hu]=Memóriaszerű játék a KDE-hez
Comment[it]=Gioco di memoria per KDE
Comment[km]=ល្បែង​ដូច​ជា​សតិ​សម្រាប់ KDE
Comment[mr]=केडीई करिता मेमरी सारखा खेळ
Comment[nds]=En "Memory"-liek Speel för KDE
Comment[nl]=Memory-achtig spel voor KDE
Comment[nn]=Eit Memory-liknande spel til KDE
Comment[pl]=Gra w typie memory dla KDE
Comment[pt]=Um jogo de memória para o KDE
Comment[pt_BR]=Um jogo de memória para o KDE
Comment[sk]=Pamäťová hra pre KDE
Comment[sv]=Ett spel som liknar Memory för KDE
Comment[th]=เกมเกี่ยวกับความจำของ KDE
Comment[tr]=KDE için hafıza benzeri oyun
Comment[ug]=KDE نىڭ ئەستە تۇتۇش ئويۇنى
Comment[uk]=Гра з розвитку пам’яті для KDE
Comment[x-test]=xxMemory-like game for KDExx
Comment[zh_CN]=KDE 记忆游戏
Comment[zh_TW]=KDE 記憶遊戲
Terminal=false
Categories=Qt;KDE;Education;X-KDE-Edu-Miscellaneous;
